In [1]:
import numpy as np
import pandas as pd

# Question 1  pandas series code to get following output without using dictionary:

In [2]:
code = [1,4,9,6,7]
indexing = {'a','x','c','2','e'}

In [3]:
printing = pd.Series(code , index = indexing , dtype = int)

In [4]:
printing

c    1
a    4
2    9
e    6
x    7
dtype: int32

# Question 2 Writer pandas series code to get following output using dictionary:

In [5]:
dictt = {
        'bilal':42, 'Ayesha':38, 'Hadia':39
        # "name" : ['Bilal','Ayesha','Hadia'],
        # "marks": [42,38,39]    
}

In [6]:
Que2 = pd.Series(dictt)

In [7]:
Que2

bilal     42
Ayesha    38
Hadia     39
dtype: int64

# Question 3 Write pandas dataframe code to get following output using python dictionary

In [8]:
dict1 = {
    
    "day" : ['1/2/2022','1/3/2022','1/3/2022','1/4/2022' ], 
    "temperature" :[24,35,40,15], 
    "wind_speed" :[9,5,2,3], 
    "Event" : ['Rainy','snowy','summer','moonsoon'] 
}

In [9]:
df = pd.DataFrame(dict1)

In [10]:
df

        day  temperature  wind_speed     Event
0  1/2/2022           24           9     Rainy
1  1/3/2022           35           5     snowy
2  1/3/2022           40           2    summer
3  1/4/2022           15           3  moonsoon

# Question 4  In extension to above question, you are required to replace index by ['a','b','c','d','e','f'

In [11]:
indexx = ['a','b','c','d']

In [12]:
df.index = indexx

In [13]:
df

        day  temperature  wind_speed     Event
a  1/2/2022           24           9     Rainy
b  1/3/2022           35           5     snowy
c  1/3/2022           40           2    summer
d  1/4/2022           15           3  moonsoon

# Question 5 : In extension to above Q.3, calculate mean, miximum and minimum for label “temperature

In [14]:
mean_temperature = df['temperature'].mean()
max_temperature = df['temperature'].max()
min_temperature = df['temperature'].min()

In [15]:
print(mean_temperature) 
print(max_temperature)
print(min_temperature)

28.5
40
15

# Question 6 Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions

In [16]:
cols = ["First Name", "Sex", "Email", "Phone", "Job Title"]

In [17]:
index_cols = ["Sex", "Job Title"]

In [18]:
rows_to_skip = [1, 5]

In [19]:
df = pd.read_csv('people.csv', usecols=cols, skiprows=rows_to_skip)

In [20]:
#df.set_index(cols, inplace=True)
#df.to_csv('NewPeople.csv')

#  Q.7: Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
# Import sheet 1
# Import only first and last column from sheet 1
# Skip row 2 while importing the sheet
# Set row 2 as header
# export as new sheet.

In [22]:
df

     Name
0   Bilal
1  Sufyan
2   Saiqa
3   Aimen

In [ ]:
columns_to_import = ['Name', 'Percentage']  # First and last column names

In [ ]:
rows_to_skip = [1]

In [ ]:
df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=columns_to_import, skiprows=rows_to_skip)

In [ ]:
header_row = pd.read_excel('SampleWork.xlsx', sheet_name=0, nrows=1, header=None)
df.columns = header_row.iloc[1]

In [ ]:
df.to_excel('NewSampleWork.xlsx', index=False)